<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
<link type="text/css" rel="stylesheet" href="{RES}js/style.css" />
<link type="text/css" rel="stylesheet" href="{RES}js/weui.css" />
<script src="../app/resource/js/lib/jquery-1.11.1.min.js"></script>
<title>我的{if $type==1}今日{/if}推广</title>
<style>
.weui_cell:before{
	left: 0;
}
.weui_cell img{
	width:50px;height: 50px;margin-right:5px;display:block
}
</style>
</head>
<body>
<div class="container js_container">
	<div class="page">
	 {if $list}
	    <div class="bd">
	        <div class="weui_cells" style="margin: 0">
	            {loop $list $l}
	            <div class="weui_cell">
	                <div class="weui_cell_hd"><img src="{$l['avatar']}"></div>
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>{$l['nickname']}</p>
	                </div>
	                <div class="weui_cell_ft">{$l['createtime']}</div>
	            </div>
	            {/loop}
	        </div>
		</div>
	 {else}
		<div style="text-align: center;margin-top: 20px;">暂时未有推广数据，加油哦！</div>
	 {/if}
	</div>
	{if $cfg['copyright']}<div style="text-align: center;font-size: 15px;margin: 10px auto;">{$cfg['copyright']}</div>{/if}
	</div>
{template 'loading'}
<script>
//下拉加载
var range = 50; //距下边界长度/单位px
var pageNo = 2;
var totalheight = 0;
var container = $(".page .bd .weui_cells");
var loading = false;
$(window).scroll(function(){
	if(loading) return;
    var srollPos = $(window).scrollTop(); //滚动条距顶部距离(页面超出窗口的高度)
    totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
    if(($(document).height()-range) <= totalheight && pageNo > 1) {
    	loading = true;
    	LOADING(true);
 		$.ajax({
 			url:'{php echo $this->createMobileUrl("record",array("type"=>$type))}',
 			type:'post',
 			data:{page:pageNo},
 			success:function(data){
 				if(data != '1'){
 					data = JSON.parse(data);
 					$.each(data, function(i, item){     
 					    var str = '<div class="weui_cell">';
 					    str += '<div class="weui_cell_hd"><img src="'+item['avatar']+'"></div>';
 					    str += '<div class="weui_cell_bd weui_cell_primary">';
 					    str += '<p>'+item['nickname']+'</p></div>';
 					    str += '<div class="weui_cell_ft">'+item['createtime']+'</div></div>';
 						container.append(str);
 					});  
 					pageNo++;
 					
 				}else pageNo = 0;
 				loading = false;
 				LOADING(false);
 			}
 		});
    }            
});
</script>
</body>
</html>