
<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>                           
  <title>我的订单 - {$_W['account']['name']}</title>
    <meta charset="utf-8" />  
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <script>
    !function () {
      var cw = document.documentElement.clientWidth || document.body.clientWidth, zoom = cw / 320;
      if (cw > 640) zoom = 2;
      document.write('<style id="htmlzoom">html{ font-size:' + (zoom * 50) + 'px; }</style>');
      window.addEventListener('resize', function () {
        cw = document.documentElement.clientWidth || document.body.clientWidth, zoom = cw / 320;
        if (cw > 640) zoom = 2;
        document.getElementById('htmlzoom').innerHTML = 'html{ font-size:' + (zoom * 50) + 'px; }';
      });
    }();

    function preventDefault(e) {
      e.preventDefault();
    }
  </script>
  <link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/css/base.css?v=1.11" />
  <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/js/zepto.min.js"></script>
  <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/js/touch.js"></script>
  <link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/js/mobiscroll.min.css" />
  <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/js/dropload.min.js"></script>
  <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/js/mobiscroll.min.js"></script>
  <style type="text/css">
    .back-top{ bottom:.2rem; }
    .cover-floor{ display:none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.7); z-index: 900; }
    #content{ padding-top:1.38rem; }
    #content #filter{ position: fixed; width: 100%; z-index: 999; top: 0; left: 0; }
    #content #filter .filter-box{ position:relative; display: table; width:100%; background-color:#fff; z-index:999; }
    #content #filter .filter-box li { position:relative; display: table-cell; width: 14.4%; text-align: center; border-bottom: 1px solid #e3e3e3; border-width: 1px 0; }
    #content #filter .filter-box li:first-child{ width:28%; }
    #content #filter .filter-box li:before { border-right: 1px solid #e7e5e2; height: .3rem; content: ''; position: absolute; top: .16rem; left: 0; }
    #content #filter .filter-box li:first-child:before { border-right-width:0; }
    #content #filter .filter-box li label { display: block; height: .66rem; line-height: .66rem; text-align: center; }
    #content #filter .filter-box li:first-child label.date{ position: absolute; width: 1.8rem; padding-top: .1rem; font-size: .2rem; line-height: 1.2; }
    #content #filter .filter-box li:first-child label.date:before { content: ''; position: absolute; content: ''; position: absolute; width: .3rem; height: .46rem; left: 0; background: url(//apianyi.oss-cn-shenzhen.aliyuncs.com/static/images/ico.png) no-repeat -1.18rem -2.58rem; background-size: 3rem; }
    #content #filter .filter-box li:first-child label{ padding-right: .2rem; }
    #content #filter .filter-box li:first-child label:after { border: .07rem solid transparent; border-top-color: #999; content: ''; position: absolute; top: .28rem; right: .14rem; }
    #content #filter .filter-box li.cur{ color:#ea3b4c; }

    #content #filter .filter-list { position: absolute; left:0; width:100%; padding:.1rem .2rem; background-color: #f9f8f8; box-sizing: border-box; -webkit-transform: translate3d(0,-100%,0); opacity: 0; pointer-events: none; -webkit-transition: all .3s; z-index: 900; }
    #content #filter .filter-list.show { -webkit-transform: translate3d(0,0,0); opacity: 1; pointer-events: all; }
    #content #filter .filter-list p{ position:relative; margin-top:.1rem; color:#777; }
    #content #filter .filter-list p:first-child{ margin-top:0; }
    #content #filter .filter-list p input[type='button'] { width: 1.2rem; margin-right: .18rem; padding: .08rem .18rem; color: #ea3b4c; background-color: #fff; border: solid 1px #ea3b4c; border-radius: .08rem; }
    #content #filter .filter-list p input[type='button']:active{ background-color:#ea3b4c; color:#fff; }
    #content #filter .filter-list p input[type='text']{ width:2.6rem; padding: .1rem .2rem; color:#777; border: solid 1px #eee; border-radius: .08rem; }
    #content #filter .filter-list p em{ position: absolute; width: .5rem; height: .5rem; margin-left: -.5rem; background: url({$_W['siteroot']}addons/tiger_wxdaili/template/mobile/images/ico.png) no-repeat -1.68rem .17rem; background-size: 2.4rem; }
    #content #filter .filter-list button { margin: .06rem 0; margin-left: 1.22rem; width: 2.56rem; border-radius: .05rem; border-width: 0; padding: .1rem 0; color: #fff; background-color: #ea3b4c; }

    .content-dropload{ background-color: #f3f3f3; }
    .content-box li.content-row{ display:block; padding:.28rem; background-color:#fff; border-bottom:solid 1px #f3f3f3;margin-top:.2rem; }
    .content-box li.content-row:first-child{ margin-top:0; }
    .content-box li.content-row img.thumb { float:left; width:1.8rem; height:1.8rem; margin-right:.2rem; }
    .content-box li.content-row h3 { font-size:.24rem; height: .7rem; line-height: 1.4; overflow: hidden; }
    .content-box li.content-row p{ position:relative; font-size:.22rem; margin-top:.12rem; color:#999; }
    .content-box li.content-row p em{ margin:0 .1rem; }
    .content-box li.content-row p em:first-child{ margin-left:0; }
    .content-box li.content-row p em:last-child{ margin-right:0; }
    .content-box li.content-row .price{ color:#e74c3c; font-size:.24rem; font-weight:700; }
    .content-box .account { display: table; width: 100%; color: #666; border-top:solid 1px #e7e5e2; margin-top:.2rem; padding-top:.2rem; }
    .content-box .account li{ position:relative; display: table-cell; width:33.33%; text-align:center; }
    .content-box .account li:before { border-right: 1px solid #e7e5e2; height: .34rem; content: ''; position: absolute; top: .12rem; left: 0; }
    .content-box .account li:first-child:before{ border-right-width:0; }
    .content-box .account li label{ display:block; margin-top: .04rem; font-size:.22rem; color:#999; }
    .content-box .account li strong{ color:#ea3b4c }

    .count-bar { position: fixed; width: 100%; bottom: 0; left: 0; padding:.1rem; background-color: rgba(255,255,255,.96); border-top:solid 1px #ccc; z-index: 99; }
    .count-bar ul { display: table; width: 100%; color: #666; }
    .count-bar li{ position:relative; display: table-cell; text-align:center; }
    .count-bar li:before { border-right: 1px solid #e7e5e2; height: .34rem; content: ''; position: absolute; top: .12rem; left: 0; }
    .count-bar li:first-child:before{ border-right-width:0; }
    .count-bar li p{ margin-top: .04rem; font-size:.22rem; color:#999; }
    .count-bar li strong{ color:#ea3b4c }

    .dropload-up, .dropload-down { position: relative; height: 0; overflow: hidden; font-size:12px; color:#666; -webkit-transform: translateZ(0); transform: translateZ(0); }
    .dropload-down{ height:50px; background-color:#fff; }
    .dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{ height: 50px; line-height: 50px; text-align: center; }
    .dropload-load .loading{ display: inline-block; height: 15px; width: 15px; border-radius: 100%; margin:6px; border: 2px solid #999; border-bottom-color: transparent; vertical-align: middle; -webkit-animation: rotate360-Anim 0.75s linear infinite; animation: rotate360-Anim 0.75s linear infinite; }
  </style>
  <script>
    var params = { "type": 0, "page": 1, "startdate": "", "enddate": "" };
    $(function($)
    {
      //格式化日期
      Date.prototype.Format = function (fmt) { //author: meizz 
        var o = {
          "M+": this.getMonth() + 1, //月份 
          "d+": this.getDate(), //日 
          "h+": this.getHours(), //小时 
          "m+": this.getMinutes(), //分 
          "s+": this.getSeconds(), //秒 
          "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
          "S": this.getMilliseconds() //毫秒 
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
          if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
      }

      //载入订单
      var reload = function () {
        /*更新日期选择UI*/
        if (params.startdate == "" && params.enddate == "") {
          $("#filter .filter-box li:first-child label").removeClass("date").text('订单日期');
        }
        else {
          $("#filter .filter-box li:first-child label").addClass("date").html('<p>' + params.startdate + '<br/>' + params.enddate + '</p>');
        }
        /*--------*/

        /*更新分类UI*/
        $("#filter .filter-box li:not(:first-child)").removeClass("cur").eq(params.type).addClass("cur");
        /*--------*/

        /*解锁dropload*/
        dropload.unlock();
        dropload.noData(false);
        $(".dropload-down").empty().append('<div class="dropload-load"><i class="loading"></i>加载中...</div>');
        /*--------*/

        $(".content-box").empty();
        $.post("?act=getlist&r=" + Math.random(), params, function (result) {
          $(".content-box").html(result.message);
          dropload.resetload();//重置dropload
        }, 'json');
      }

      //点击关闭选择日期
      $(".cover-floor").on("tap", function () {
        $(this).hide();
        $("#filter .filter-box li:first-child").trigger("tap");
      });

  /*region 筛选日期*/
      //下拉浮动筛选条
      var filter_top = $("#filter").height();
      $(window).scroll(function () {
        if ($(window).scrollTop() >= $(".content-box li:first-child").height() * 2.4 + filter_top) {
          $(".back-top").addClass("show");
        } else {
          $(".back-top").removeClass("show");
        }
      });

      //显示|隐藏订单日期
      $("#filter .filter-box li:first-child").bind("tap", function (e) {
        if ($("#filter .filter-list").hasClass("show")) {
          $("#filter .filter-list").removeClass("show");
          $(".cover-floor").hide();
          document.removeEventListener('touchmove', preventDefault, false);
        } else {
          $("#filter .filter-list").addClass("show");
          $(".cover-floor").show();
          document.addEventListener('touchmove', preventDefault, false);
        }
      });

      //日期跨度
      $(".filter-list input[type='button']").bind("tap", function () {
        var index = $(this).index();
        var startdate = $(".filter-list input[name='startdate']");
        var enddate = $(".filter-list input[name='enddate']");
        date = new Date();
        enddate.val(date.Format("yyyy-MM-dd"));
        if (index == 0) {
          startdate.val(new Date(date.getFullYear(), date.getMonth(), date.getDate() - 6).Format("yyyy-MM-dd"));
        }
        else if(index==1){
          startdate.val(new Date(date.getFullYear(), date.getMonth() - 1, date.getDate()).Format("yyyy-MM-dd"));
        }
        else if (index == 2) {
          startdate.val(new Date(date.getFullYear(), date.getMonth() - 3, date.getDate()).Format("yyyy-MM-dd"));
        }
      });

      //日期选择控件
      $(".filter-list input[type='text']").mobiscroll().date({
        mode: 'scroller',
        display: 'bottom',
        lang: 'zh',
        dateFormat: 'yyyy-mm-dd',
        maxDate: new Date()
      });

      //清空日期表单
      $(".filter-list em").on("tap", function () {
        $(this).siblings("input").val('');
      });

      $("#content #filter .filter-list button").on("tap", function () {
        $("#filter .filter-box li:first-child").trigger("tap");
        params.startdate = $("#content #filter .filter-list input[name='startdate']").val();
        params.enddate = $("#content #filter .filter-list input[name='enddate']").val();
        params.page = 1;
        reload();
      });
  /*end 筛选日期*/

  /*region 筛选分类*/
      $("#filter .filter-box li:not(:first-child)").bind("tap", function (e) {
        if ($(this).hasClass("cur")) return false;
        params.type = $(this).index()-1;
        params.page = 1;
        reload();
      });
  /*end 筛选分类*/

      var dropload = $(".content-dropload").dropload({
        scrollArea: window,
        loadDownFn: function (e) {
          params.page++;
          $.ajax({
            type: 'POST',
            url: "{php echo $this->createMobileUrl('orderpost')}"+"&openid={$openid}&dd={$dd}" + Math.random(),
            data: params,
            dataType: 'json',
            success: function (result) {
            alert(result.error);
              if ($.trim(result.message) == "") {
                //锁定
                e.lock();
                //无数据
                e.noData();
              }
              //setTimeout(function () {
                $(".content-box").append(result.message);
                e.resetload();
              //}, 500);
            },
            error: function (xhr, type) {
              e.resetload();
            }
          });
        },
        threshold: 50
      });
    });
  </script>
</head>
<body>
<div class="cover-floor"></div>
<section id="content">
  <div id="filter">
    <header id="header">
      <a href="javascript:history.back();" class="icon icon-goback"></a>我的订单
    </header>
    <ul class="filter-box">
      <li><label>订单日期</label></li>
      <li class="cur"><label>全部</label></li>
      <li><label>付款</label></li>
      <li><label>结算</label></li>
      <li><label>失败</label></li>
      <li><label>退款</label></li>
    </ul>
    <section class="filter-list">
      <p>日期跨度：<input type="button" value="1周内" /><input type="button" value="1个月内" /><input type="button" value="3个月内" /></p>
      <p>开始日期：<input type="text" name="startdate" placeholder="请选择..." /><em></em></p>
      <p>结束日期：<input type="text" name="enddate" placeholder="请选择..." /><em></em></p>
      <p><button>确定</button></p>
    </section>
  </div>
  <div class="content-dropload">
    <ul class="content-box">
      
         <!--li class="content-row fadeIn-Anim clearfix" data-id="3161998712938572">
              <div class="goods">
                <img class="thumb" src="http://img04.taobaocdn.com/bao/uploaded/i4/TB1NXQoPpXXXXcrXpXXXXXXXXXX_!!0-item_pic.jpg_210x210.jpg" />
                <div>
                  <h3>{$v['title']}</h3>
                  <p>订单状态：<strong style="color:#ea3b4c;">订单失效</strong></p>
                  <p>交易时间：2017-02-21 11:07</p>
                  <p>&nbsp;</p>
                </div>
              </div>
              <ul class="account">
                <li><span>￥0.00</span><label>付款金额</label></li>
                <li><span>￥0.00</span><label>付款佣金</label></li>
                <li><span class="price">￥0.00</span><label>预估结算</label></li>
              </ul>
        </li-->
      
    
    </ul>
  </div>
</section>
<div class="back-top"><img src="//apianyi.oss-cn-shenzhen.aliyuncs.com/static/images/scroll-to-top-icon.png" alt="" style="width:100%;" /></div>
<!--<section class="count-bar">
  <ul>
    <li><span>100</span><p>单数</p></li>
    <li><span>￥2000.00</span><p>交易总额</p></li>
    <li><span>￥220.00</span><p>预计佣金</p></li>
    <li><strong><span>￥200.00</span></strong><p>结算佣金</p></li>
  </ul>
</section>-->
<script>$(".back-top").on("tap", function () { if ((typeof (myScroll) != "undefined")) { myScroll.scrollTo(0, 0, 300); } else { scrollTo(0, 0); } });//返回顶部</script>
</body>
</html>